@import url("stardom.css");
@import url("/src/animaciones.css");
@import "tailwindcss";


@theme {
  --color-titulo: #272643;
  --color-descripcion: #2c698d;
}

button {
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detalles {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* Cambia este número por las líneas que desees */
  overflow: hidden;
}

.contenedor-tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3vw
}

@media ( width < 768px ) {
  .contenedor-tarjetas {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}