@import url("stardom.css");
@import url("/src/animaciones.css");
@import "tailwindcss";


@theme {
  --color-titulo: #272643;
  --color-descripcion: #2c698d;
}

button {
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detalles {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* Cambia este número por las líneas que desees */
  overflow: hidden;
}

.tarjeta {
  max-width: 250px;
}

@media (width < 700px) {
  .tarjeta {
    width: 45%;
  }
}

@media (width < 400px) {
  .tarjeta {
    width: 90%;
  }
}